<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gabrisal.api.board.BoardRepository">
    <select id="selectBoardOne" parameterType="int" resultType="com.gabrisal.api.board.Board">
        SELECT BOARD_ID
             , BOARD_TITLE
             , BOARD_CONTENT
             , DEL_YN
          FROM BOARD
         WHERE BOARD_ID = #{boardId}
    </select>
</mapper>